<h1>P-EDITOR TEST</h1>
<p-editor
  [(ngModel)]="editorContent"
  [id]="'checklistForm-executiveSummaryAndNotesOne'"
  [style]="{ height: '320px' }"
  [placeholder]="
    '***Solutions Consultants:  Enter your Executive Summary here with your own succinct verbiage and change the font color to match to match the rest of the document.\nThis should be less than half a page and provides an overview of the solution, such as follows:\n•\tExisting solution and call out areas of opportunity or pain points.\n•\tNew solutions capabilities or outcomes\n•\tValue of the new solution, top driving factors for the client\nEnter any special instructions or notes that would you like to document.'
  "
>
</p-editor>

<br/>
<p>Content</p>
<div>{{ editorContent | json }}</div>
